/* top */
/*--------------------------------------------------------------------*/
/* 現在ページ表示用 */
/* 概要 */
.icon-about::before {
  display: block;  /*ブロックで表示*/

  content: '\f15b';
  font-weight: 900;
}


/*--------------------------------------------------------------------*/

